.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #444;
 width: 50%;
 margin: 0 auto;
  ;
  
}
body {
   
    margin: 0px;
    padding: 175px;
    background-color: #222222;
    
}

.box img {
    width: 200px;
    height: 200px;
    
    border-radius:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name{
    color: #f3eeee;
    font-size: 20px;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.location{
    color: #13d120;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Bio{
    color: #f3eeee;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-links {
  
    display: flex;
    flex-direction: column;
   
    justify-content: center;
     align-items: center;
     height: 100px;
    margin-top: 10px;
    
}
.Profile1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 300%;
    margin-bottom: 10px;

    
    
}
.Profile2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 300%;
    margin-bottom: 10px;
  
}
.Profile3 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 300%;
    margin-bottom: 10px;
   
}
